<!DOCTYPE html>
<html data-ng-app="wildlifeTrackingModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Content/images/Elephant_128px_557404_easyicon.net.ico">
    <title>Wildlife Tracking | @ViewBag.Title</title>

    <!--Bootstrap to Google Maps API. Jack's Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8fS3hJwOoP9lir5q-hGUanxUV0mKK0P0&libraries=places&sensor=false"></script>
    <!--<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?></script>-->

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")



</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/map")
    @RenderSection("scripts", required: false)
</body>
</html>
