@{
    Layout = null;
}

<!DOCTYPE html>
<html data-ng-app="wildlifeTrackingModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Content/images/Elephant_128px_557404_easyicon.net.ico">
    <title>Wildlife Tracker | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">


    <!--Bootstrap to Google Maps API. Jack's Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8fS3hJwOoP9lir5q-hGUanxUV0mKK0P0&libraries=places&sensor=false"></script>
    <!--<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?></script>-->
</head>
<body data-ng-controller="landingController as vm">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            @Html.Partial("_LoginPartial")
        </nav>
    </div>

    <div class="row" >
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group"><label>Species</label> </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linux"></i></span><select class="form-control" focus-me="{{searchMode}}" ng-model="SpeciesID" ng-options="specie.SpeciesID as specie.SpeciesName for specie in Species" ng-change="getWildlifeSightingsBySpeciesId()"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" id="data_2"><label>Date</label> </div>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="date" data-ng-model="TargetDate" format-date class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group"><label>Location</label></div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span><input type="text" data-ng-model="SeasonName" class="form-control" ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-map zoom="4" center="-2.150359, 35.243393" class="google-map" map-type-id="ROADMAP">
    </ng-map>

  

    <!-- Footer -->
    @Html.Partial("_Footer")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/map")
</body>
</html>
